# Root
.DS_Store

# Frontend Flutter
/frontend/.dart_tool/
/frontend/.flutter-plugins-dependencies
/frontend/build/
/frontend/.pub/
/frontend/.pub-cache/
/frontend/.idea/
/frontend/*.iml
/frontend/android/.gradle/
/frontend/android/app/debug/
/frontend/android/app/profile/
/frontend/android/app/release/
/frontend/android/local-maven/
/frontend/android/local.properties
/frontend/ios/Flutter/ephemeral/
/frontend/macos/Flutter/ephemeral/
/frontend/linux/flutter/ephemeral/
/frontend/windows/flutter/ephemeral/

# FVM
/.fvm/
/frontend/.fvm/

# Backend
/backend/node_modules/
/backend/.npm-cache/
/backend/dist/
/backend/.env
/backend/*.sqlite
/backend/*.db

# Data
/data/**/*.sqlite
/data/**/*.db
/data/**/*.sqlite-journal
/data/**/*.sqlite-wal
